
/* Keyframes */

@keyframes blink-critical {
	to {
		background-color: @critical;
	}
}

/* Styles */

/* Colors (Everforest) */
@define-color black    #272E33;    /* Dark background */
@define-color red      #e67e80;    /* Red */
@define-color green    #a7c080;    /* Green */
@define-color yellow   #dbbc7f;    /* Yellow */
@define-color blue     #7fbbb3;    /* Blue */
@define-color purple   #d699b6;    /* Purple */
@define-color aqua     #83c092;    /* Aqua/Cyan */
@define-color gray     #868d80;    /* Gray */
@define-color brgray   #d3c6aa;    /* Bright Gray */
@define-color brred    #f85552;    /* Bright Red */
@define-color brgreen  #5c6a72;    /* Bright Green */
@define-color bryellow #f9bc41;    /* Bright Yellow */
@define-color brblue   #7fbbb3;     /* Bright Blue */
@define-color brpurple #d699b6;   /* Bright Purple */
@define-color braqua   #a7c080;   /* Bright Aqua */
@define-color white    #d3c6aa;    /* Light text */
@define-color white2   #c4c1b1;
@define-color bg2       #3a454a;    /* Slightly lighter background */
@define-color pink     #d699b6;
/* Specific Color Mappings for States */
@define-color warning 	@bryellow; /* Warning color */
@define-color critical	@red;      /* Critical color */
@define-color mode	@black;      /* Mode color */
@define-color unfocused	@bg2;      /* Unfocused color */
@define-color focused	@braqua;    /* Focused color */
@define-color inactive	@purple;    /* Inactive color */
@define-color sound	@yellow;   /* Sound color */
@define-color network	@aqua;    /* Network color */
@define-color memory	@blue;    /* Memory color */
@define-color cpu	@pink;      /* CPU color */
@define-color temp	@brgreen;    /* Temperature color */
@define-color layout	@bryellow;   /* Layout color */
@define-color battery	@aqua;      /* Battery color */
@define-color date	@white2;      /* Date color */
@define-color time	@green;      /* Time color */
@define-color tray	@black; 
/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: @black; 
	color: @white;
	font-family: "CommitMonoNerdFont ", "CommitMonoNerdFont-Regular";
	font-size: 10pt;
	/*font-weight: bold;*/
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

/* Current sway mode */
#mode {
	color: @white;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	padding-left: 2pt;
	padding-right: 2pt;
	color: @white;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @white;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @red;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	color: @sound;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#pulseaudio {
	color: @white;
}

#network {
	color: @white;
	

}

#memory {
	color: @white;
	
}

#cpu {
	color: @white;
	
}

#temperature {
	background: @temp;
	color: @black;
}

#language {
	background: @layout;
	color: @black;
}

#battery {
	background: @battery;
	color: @white;
}

#tray {
	background: @tray;
	color: @black;
}

#clock.date {
	color: @white;
	
}

#clock.time {
	color: @white;
	
}
