* {
    font-family: "CommitMonoNerdFont", "CommitMonoNerdFont-Regular";
    font-size: 13px;
}

@define-color inactive_module_color #727272;

window#waybar {
    background-color: rgba(21, 21, 21, 0.9);
    border-color: rgba(114, 114, 114, 0.5);
    border-style: solid;
    color: #E1E1E1;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar:not(.bottom):not(.left):not(.right) {
    border-bottom-width: 2px;
}

window#waybar.bottom {
    border-top-width: 2px;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    all: unset;
    border-color: rgba(114, 114, 114, 0.5);
    border-style: solid;
    min-height: 24px;
    min-width: 16px;
    padding: 0 10px;
    transition: none;
}

button:hover {
    background: inherit;
    box-shadow: none;
}

.modules-left > widget > label,
.modules-center > widget > label,
.modules-right > widget > label {
    color: inherit;
    margin: 0;
    padding: 0 10px;
    box-shadow: none;
}

.modules-left > widget > box,
.modules-center > widget > box,
.modules-right > widget > box {
    color: inherit;
    margin: 0;
    padding: 0;
}

.modules-left > widget:first-child > box {
    margin-left: 0;
    padding-left: 0;
}

.modules-right > widget:last-child > box {
    margin-right: 0;
    padding-right: 0;
}

window#waybar #window {
    box-shadow: none;
}

/* Workspaces */
#workspaces button {
    background-color: #202020;
    border: none;
    border-bottom: 2px solid rgba(114, 114, 114, 0.5);
    padding: 0 10px;
    min-height: 24px;
    min-width: 16px;
}

#workspaces button:hover {
    background-color: #373737;
    box-shadow: none;
}

#workspaces button.focused {
    background-color: #BAD7FF;
    color: #151515;
    border-bottom: 2px solid rgba(114, 114, 114, 0.5);
}

#workspaces button.urgent {
    background-color: #b46958;
    border-bottom: 2px solid rgba(114, 114, 114, 0.5);
}

/* Mode indicator */
#mode {
    background-color: #88afa2;
    color: #151515;
    box-shadow: none;
}

window#waybar.bottom #mode,
window#waybar:not(.bottom):not(.left):not(.right) #mode {
    box-shadow: none;
}

#image {
    margin: 0;
    padding: 0 10px;
}

/* Battery warnings */
#battery.charging,
#battery.plugged {
    color: inherit;
}

#battery.critical:not(.charging) {
    color: #984936;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #E1E1E1;
        color: #151515;
    }
}

/* Muted modules */
#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted,
#idle_inhibitor,
#custom-gammastep,
#mpd.disconnected,
#mpd.paused,
#mpd.stopped {
    color: @inactive_module_color;
}

#idle_inhibitor.activated {
    color: inherit;
}

#custom-gammastep.active {
    color: inherit;
}

/* Tray */
#tray {
    padding: 0 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    animation-name: needs-attention;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: transparent;
}

@keyframes needs-attention {
    to {
        background-color: rgba(180, 105, 88, 0.4);
    }
}

/* Input modules */
#language,
#keyboard-state {
    min-width: 16px;
    color: inherit;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

/* Scratchpad */
#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

