## Dark Theme (matched to custom palette)

set $base00 #191919
set $base01 #202020
set $base02 #3D3839
set $base03 #727272
set $base04 #8E8E8E
set $base05 #BBBBBB
set $base06 #C9C9C9
set $base07 #FFFFFF
set $base08 #DE6E7C
set $base09 #D68C67
set $base0A #B77E64
set $base0B #819B69
set $base0C #66A5AD
set $base0D #61ABDA
set $base0E #B279A7
set $base0F #984936
set $base10 #18191B


