## Luna theme (upstream palette from luna.nvim)

set $bg         #060606
set $bg_alt     #1C1C1C
set $bg_soft    #1F1F1F
set $bg_plum    #302028
set $bg_delete  #40000A
set $surface    #333333
set $selection  #384048
set $border     #404040
set $float_bg   #403C41

set $grey_warm  #605958
set $comment    #7C7C7C
set $grey       #888888
set $grey_mid   #989898
set $grey_light #A8A8A8
set $grey_pale  #B8B8B8
set $silver     #C7C7C7
set $fg         #E4E4E8
set $fg_bright  #F0F0F0
set $cream      #F0E0D6

set $black #000000
set $white #FFFFFF

set $keyword #E19067
set $func    #75A1C7
set $type    #C4A8D6
set $string  #9EB38E
set $signal  #C2916A

set $error   #E08585
set $warning #D9A35A
set $info    #8C9CB8
set $hint    #B09080
set $ok      #6FBE80
