## Dark Theme (matched to custom palette)

set $base00 #151515
set $base01 #171717
set $base02 #202020
set $base03 #373737
set $base04 #727272
set $base05 #AFAFAF
set $base06 #E1E1E1
set $base07 #FFFFFF
set $base08 #b46958
set $base09 #FFA557
set $base0A #F4BF75
set $base0B #90A959
set $base0C #88afa2
set $base0D #BAD7FF
set $base0E #AA749F
set $base0F #984936
set $base10 #18191B

